---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <article>
        <h1>About Me</h1>
        <p>
            Welcome to my blog. I'm a production engineer.
        </p>
        <p>
            This site is built with <a href="https://astro.build/">Astro</a>.
        </p>
    </article>
</BaseLayout>
