---
import { SITE_TITLE, MENU_ITEMS } from "../consts";
---

<header class="blur-header fixed top-0 z-40 mx-auto min-h-[3.5rem] w-full">
  <div class="mx-auto w-full max-w-4xl p-3 lg:flex lg:justify-between">
    <div class="flex justify-between">
      <div class="flex items-center">
        <a class="text-2xl font-semibold" href="/">{SITE_TITLE}</a>
        <div
          class="btn-dark ml-4 h-6 w-6 shrink-0 cursor-pointer"
          role="button"
          aria-label="Toggle dark mode"
        >
          <img src="/icons/cat-black.svg" alt="" class="h-full w-full dark:hidden" />
          <img src="/icons/cat-white.svg" alt="" class="hidden h-full w-full dark:block" />
        </div>
      </div>
      {
        MENU_ITEMS.length > 0 && (
          <div
            class="btn-menu relative z-50 flex h-8 w-8 shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
            role="button"
            aria-label="Menu"
          />
        )
      }
    </div>

    {
      MENU_ITEMS.length > 0 && (
        <nav class="flex w-full items-center lg:w-auto">
          <ul class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0">
            {MENU_ITEMS.map((item) => (
              <li>
                <a
                  class="primary-link block py-2 text-center text-lg font-medium lg:px-3 lg:py-0"
                  href={item.url}
                >
                  {item.name}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
  </div>
</header>

<script>
  const htmlClass = document.documentElement.classList;
  setTimeout(() => {
    htmlClass.remove("not-ready");
  }, 10);

  // Mobile menu
  const btnMenu = document.querySelector(".btn-menu");
  btnMenu?.addEventListener("click", () => {
    htmlClass.toggle("open");
  });

  // Dark theme
  const setDark = (isDark: boolean) => {
    if (isDark) {
      htmlClass.add("dark");
    } else {
      htmlClass.remove("dark");
    }
    localStorage.setItem("dark", String(isDark));
  };

  // Listen to system preference changes
  const darkScheme = window.matchMedia("(prefers-color-scheme: dark)");
  darkScheme.addEventListener("change", (event) => {
    setDark(event.matches);
  });

  // Manual switch
  const btnDark = document.querySelector(".btn-dark");
  btnDark?.addEventListener("click", () => {
    setDark(localStorage.getItem("dark") !== "true");
  });
</script>
